File name extention:
*.txt
*.ini
*.aux
*.log
*.gz

Programs:
check cuda.py
Locations.docx
metro_inference.py
MLP_Data_Definition.docx
process.html
pth2csv_converter.py
simplemlp_weights.pth
TMRT_station.py

Folders:
.venv
STM32
source
__pycache__
